.card-style {
  transition: all 400ms ease-in;
}

.background-default {
  background-color: #fff;
}

.background-selected {
  background-color: rgb(255, 245, 160);
}

.link-button {
  width: 70px;
  background-color: rgb(223, 219, 219);
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
